[ ca ]
default_ca             = olympus5_ca

[ olympus5_ca ]
serial                 = ./serial
database               = ./index.txt
new_certs_dir          = ./certs
certificate            = ./ca.olympus5.bzh.crt
private_key            = ./ca.olympus5.bzh.key

default_md             = sha256
default_days           = 365
default_crl_days       = 30
x509_extensions        = ca_extensions
policy                 = ca_policy

copy_extensions        = copy

[ req ]
default_bits           = 4096
default_keyfile        = ca.olympus5.bzh.key
default_md             = sha256
encrypt_key            = no
utf8                   = yes
prompt                 = no
distinguished_name     = ca_distinguished_name
x509_extensions        = ca_extensions

[ ca_distinguished_name ]
C                      = FR
ST                     = Bretagne
L                      = Rennes
O                      = Olympus5
OU                     = Olympus5 CA
CN                     = ca.olympus5.bzh
emailAddress           = ca@olympus5.bzh

[ ca_extensions ]
basicConstraints       = CA:TRUE
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer
keyUsage               = keyCertSign, cRLSign

[ ca_policy ]
countryName            = match
stateOrProvinceName    = supplied
organizationName       = supplied
commonName             = supplied
organizationalUnitName = optional
